@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --background: #000;
    --red-1: #530605;
    --red-2: #7B0305;
    --red-3: #A60100;
}

* {
    font-family: 'Press Start 2P', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    color: white;
    background-color: var(--background);
}

main {
    margin-top: 100px;
    flex-direction: column;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 12fr 4fr;
}

.side-content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

}

.button-active {
    color: black !important;
    background-color: white !important;
}

@media (max-width: 1400px) {
    main {
        margin-top: 20px;
    }
}

@media (max-width: 903px) {
    main {
        margin-top: 20px;

        place-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}